/* Main Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
}

#page-container {
  position: relative;
  min-height: 90vh;
}

hr.divider {
  margin: 0em;
  border-width: 1px;
}

.content-body {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

.header-container {
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.container {
  width: 100%;
  max-width: 100%;
  clear: both;
  margin: 0 auto;
}

.logo_nav {
  margin-top: 1.5em;
}

h1 {
  text-align: center;
}

.name-logo {
  text-decoration: none;
  color: black;
  width: 100%;
}

a:hover {
  color: black;
}

ul.navbar {
  float: right;
  list-style-type: none;
  padding-top: 1.5em;
  overflow: hidden;
  background-color: #f2f3ee;
  /* top: 0; */
}

ul.navbar li {
  float: left;
  padding-right: 2em;
}

ul.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar li a:hover {
  border-bottom: 2px solid rgb(229, 59, 30);
  color: black;
}

.active {
  background-color: #f2f3ee;
  border-bottom: 2px solid rgb(229, 59, 30);
  color: black;
}

/* ABOUT 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about-section {
  position: relative;
}
.about-section #nodes,
#overlay {
  position: absolute;
}
.about-container {
  /* border: 1px solid green; */
  overflow: hidden;
  width: 100%;
  height: 70vh;
  box-sizing: border-box;
  padding-top: 1.5em;
  position: relative;
}

÷ .about-content,
#overlay {
  /* border: 1px solid black; */
  font-size: 5rem;
  margin: 0;
  /* background: grey; */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.highlight {
  color: rgb(229, 59, 30);
}

/* TIMELINE HEADER 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f3ee;
  color: #000;
  overflow-x: hidden;
}

/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.intro {
  background: #f2f3ee;
  padding: 100px 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  background: #13344c;
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #f2f3ee;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #f2f3ee transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #f2f3ee;
}

.timeline img {
  width: auto;
  height: 75px;
  float: left;
  margin: 10px 10px 0 0;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* TIMELINE EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #499fa4;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #499fa4 transparent transparent;
  }
}

/* END TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* SKILLS
 –––––––––––––––––––––––––––––––––––––––––––––––––– */

.skill-header {
  text-align: center;
}
.skills {
  /* border: 10px solid purple; */
  margin-bottom: 5rem;
}

@media screen and (max-width: 600px) {
  #myBarChart {
    background-color: olive;
    color: white;
  }
}

/* SOCIAL
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  background: #13344c;
}
footer nav ul li {
  display: inline;
  margin: 0;
  text-size-adjust: 1rm;
}
/* a {
  text-align: center;
  outline: none;
  display: inline-block;
  text-decoration: none;
  background: #fcca2f;
  font-size: 14px;
  color: steelblue;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: all ease .3s;
          transition: all ease .3s;
} */
footer ul li {
  display: inline;
  /* margin: 0; */
  text-align: center;
}
span {
  /* border: 1px solid green; */
  padding: 20px 20px 20px 20px;
}

.social-me {
  /* color: black; */
  text-align: center;
  /* border: rgb(229, 59, 30) ; */
  /* list-style: none; */

  /* margin-top: 50px;
  box-shadow: none;
  background: none;
  margin-left: 30px; */
}

.social-me li:nth-child(1) a {
  margin-left: 0;
  margin-right: 0;
}

.social-me span {
  font-size: 3em;
  color: #f2f3ee;
  -webkit-transition: color ease 0.4s;
  transition: color ease 0.4s;
}

.social-me span:hover {
  color: #499fa4;
}
/* END SOCIAL
 –––––––––––––––––––––––––––––––––––––––––––––––––– */

/* CONTACT
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
.contact-p {
  margin: auto;
  width: 50%;
  padding: 3em 3em;
}

.form-box {
  max-width: 500px;
  margin: auto;
  padding: 50px;
  background: #f2f3ee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-box:active {
  box-shadow: 0 0 6px #499fa4;
}

/* END CONTACT
 –––––––––––––––––––––––––––––––––––––––––––––––––– */

/* CARD FROM WORK.HTML
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
.card {
  width: 250px;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.text-container {
  padding: 10px;
}

/* END CARD 

/* FOOTER */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}
